@font-face {
    font-family: "argh";
    src: url("../fonts/Aaargh.ttf");
}

body {
    font-family: "argh";
}

footer {
    font-family: sans-serif;
}

.smalltext {
    font-size: 10pt;
}

.largetext {
    font-size: 14pt;
}