{% extends "base.html" %}

{% block topbar_right %}
<div class="top-bar-right">
  <ul class="menu">
  	<li><a class="button" href="/new">Create an IOU</a></li>
    <li><a class="button" href="/logout">Log out</a></li>
  </ul>
</div>
{% endblock %}

{% block body %}
<br><br><br>

<div class="row">
	{% if info["borrowOrLend"] == "lend" %}
		<p>You lent ${{info["amount"]}} to {{info["usernameBorrower"]}} for {{info["note"]}} on {{info["dateCreated"]}}. (IOU ID: {{info["iouID"]}})</p>
	{% else %}
		<p>You borrowed ${{info["amount"]}} from {{info["usernameLender"]}} for {{info["note"]}} on {{info["dateCreated"]}}. (IOU ID: {{info["iouID"]}})</p>
	{% endif %}
</div>

<br>

<form method="POST" action="/modcom">
  	<div class="row">
		<div class="small-2 columns small-push-5">
			<button class="button alert expanded" name="complete" type="submit">Complete</button>
		</div>
	</div>
</form>
{% endblock %}