{% extends "base.html" %}

{% block topbar_right %}
<div class="top-bar-right">
  <ul class="menu">
  	<li><a class="button" href="/new">Create an IOU</a></li>
    <li><a class="button" href="/logout">Log out</a></li>
  </ul>
</div>
{% endblock %}

{% block body %}

<br><br><br>

<div class="row">
	<div class="small-3 columns">
		<div class="callout">
			<span class="smalltext float-left">Recent IOUs</span>
			<span class="smalltext float-right"><a href="/ious">Details</a></span>
			{% if iouList == [] %}
				<hr>
				<p>You don't have any IOUs.<p>
				<a class="button" href="/new">Create one!</a>
			{% else %}
				{% for iou in iouList %}
					<hr>
					{% if iou[6] == "lend" %}
							<p>You lent <span style="color:#FF717E">${{iou[1]}}</span> to <span style="color:#FF717E">{{iou[5]}}</span> for <span style="color:#FF717E">{{iou[0]}}</span> on <span style="color:#FF717E">{{iou[3]}}</span>. (IOU ID: <span style="color:#FF717E">{{iou[9]}}</span>)</p>
					{% else %}
							<p>You borrowed <span style="color:#FF717E">${{iou[1]}}</span> from <span style="color:#FF717E">{{iou[4]}}</span> for <span style="color:#FF717E">{{iou[0]}}</span> on <span style="color:#FF717E">{{iou[3]}}</span>. (IOU ID: <span style="color:#FF717E">{{iou[9]}}</span>)</p>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>	

{% endblock %}