{% extends "base.html" %}

{% block topbar_right %}
<div class="top-bar-right">
  <ul class="menu">
  	<li><a class="button" href="/new">Create an IOU</a></li>
    <li><a class="button" href="/logout">Log out</a></li>
  </ul>
</div>
{% endblock %}

{% block body %}

<br><br><br>

<div class="row">
	<div class="small-3 columns">
		<div class="callout">
			<span class="smalltext float-left">Recent IOUs</span>
			<span class="smalltext float-right"><a href="/ious">Details</a></span>
			<hr>
			{% if iouList is none %}
				<p>You don't have any IOUs.<p>
				<a class="button" href="/new">Create one!</a>
			{% else %}
				{% for iou in iouList %}
					{% if iou[4] == userID %}
						<p>You lent ${{iou[1]}} to {{iou[5]}} on {{iou[3]}} for {{iou[0]}}. (IOU ID: {{iou[10]}})</p>
					{% else %}
						<p>You borrowed ${{iou[1]}} from {{iou[5]}} on {{iou[3]}} for {{iou[0]}}. (IOU ID: {{iou[10]}})</p>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>	

{% endblock %}