{% extends "base.html" %}

{% block topbar_right %}
<div class="top-bar-right">
  <ul class="menu">
  	<li><a class="button" href="/new">Create an IOU</a></li>
    <li><a class="button" href="/logout">Log out</a></li>
  </ul>
</div>
{% endblock %}

{% block body %}

<br><br><br>

<div class="row">
	<div class="callout">
		<span class="smalltext float-left">Recent IOUs</span>
		{% if iouList == [] %}
			<hr>
			<p>You don't have any IOUs.<p>
			<a class="button" href="/new">Create one!</a>
		{% else %}
			{% for iou in iouList %}
				<hr>
				<div class="row">
					<div class="small-9 columns">
						{% if iou[6] == "lend" %}
							<p>You lent ${{iou[1]}} to {{iou[5]}} for {{iou[0]}} on {{iou[3]}}. (IOU ID: {{iou[9]}})</p>
						{% else %}
							<p>You borrowed ${{iou[1]}} from {{iou[4]}} for {{iou[0]}} on {{iou[3]}}. (IOU ID: {{iou[9]}})</p>
						{% endif %}
					</div>
					<div class="small-3 columns">
						<a href="/modify/{{iou[9]}}" class="button">Modify</a>
						<a href="/complete/{{iou[9]}}" class="button">Complete</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>	

{% endblock %}